@use '../shared/mixins' as *;
@use '../shared/variables' as *;

.experience-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.job-container {
  padding-bottom: $margin-xxxlarge;
}


.job-header {
  display: block;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin-bottom: $margin-xlarge;

  .job-company {
    h2 {
      margin: 0;
      line-height: $margin-large;
    }
    .job-division {
      font-size: 0.85rem;
      margin-top: 0.2rem;
      line-height: $margin-medium;
    }
  }

  .job-meta {
    margin-top: $margin-small;
    .job-title {
      font-weight: 500;
      font-size: 0.95rem;
      line-height: $margin-large;
    }
    .job-date {
      font-size: 0.85rem;
      color: var(--mat-sys-on-surface-variant);
      line-height: $margin-medium;
    }
  }
}


@include minBreakpoint() {
  .job-header {
    display: flex;
  }
  .job-meta {
    margin: 0;
    text-align: right;
  }
}

.job-summary {
  margin: 0.75rem 0 1rem 0;
  line-height: 1.5;
}

.projects {
  margin-top: 0.75rem;

  .projects-accordion {
    margin-left: 0.5rem;
  }

  .project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .project-name {
      font-weight: 500;
      font-size: 0.95rem;
    }

    .project-date {
      font-size: 0.8rem;
      color: var(--mat-sys-on-surface-variant);
      margin-right: 2rem;
    }
  }
}

