@import '~@angular/material/theming';
@import '../shared/mixins';

:host {
  margin: 0 auto;
  display: block;
}

.exp-container {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;

}

.exp-container p {
  line-height: 1.8em;
  color: #444;
}

@include breakpoint() {
  .exp-container .row::before {
    content: '';
    border: 8px solid mat-color($mat-indigo, 400);
    border-radius: 8px;
    height: 0;
    width: 0;
    right: calc(50% - 8px);
    position: absolute;
  }


  .exp-container::before {
    content: '';
    position: absolute;
    border-left: 2px solid  mat-color($mat-indigo, 400);
    height: 100%;
    right: calc(50% - 2px);
  }

  .text-align-right {
    text-align: right;
  }

  .exp-container-tighten {
    margin-bottom: -26px;
  }
}

.exp-container-tighten {
  margin-bottom: 30px;
}


.exp-date {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.2em;
  color: mat-color($mat-indigo, 400);
}

.exp-comp {
  margin-bottom: 30px;
  font-size: 1.6em;
  font-weight: 400;
}

.exp-title {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 1.1em;
}
