<div class="mat-typography app-block-container">

	<div class="section-header">Experience</div>

	<div class="exp-container container-fluid">
		<div class="row">
			<div class="col-md-5 text-align-right exp-container-tighten">
			<div class="exp-date">Sept 2018 to Dec 2018</div>
			<div class="exp-comp">Uncharted Software</div>
			<div class="exp-title">Software Engineer</div>

			<p>
				I helped finish a SPA (Vue) used to query and visualize social media activity.
				I championed quality and took ownership of ensuring UX (Bootstrap) was implemented consistent
				with modern web apps. I developed a front-end for tagging content and contributed
				to its REST API design.
			</p>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-5"></div>
		</div>

		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-2"></div>
			<div class="col-md-5 exp-container-tighten">
				<div class="exp-date">Mar 2014 to Jun 2018</div>
				<div class="exp-comp">Priologic Software</div>
				<div class="exp-title">Software Engineer</div>

				<p>
					I worked on timesheet tool that tracks Cisco Canada’s Engineering hours 
					in order to support SRED claims and reporting. I integrated employee information from an Oracle data warehouse. 
					I redesigned the pages using AngularJS and Bootstrap CSS to promote clarity and have a consistent design vocabulary 
					throughout.
				</p>

				<p>
					With Veritas, I built a platform for SPA client applications to visualize and 
					manage an entire company’s data warehouse using an Angular front-end and served using Docker
					and Kubernetes.
				</p>

			</div>
		</div>
		
		<div class="row">
			<div class="col-md-5 text-align-right exp-container-tighten">
				<div class="exp-date">Dec 2012 to Jan 2014</div>
				<div class="exp-comp">FTS Environmental</div>
				<div class="exp-title">Software Engineer</div>

				<p>
					I worked on cross-functional team working to bring to market a web portal for managing remote data loggers.
					The server-side (GlassFish, Java, PostSQL) used a service oriented architecture to support a dynamic 
					realtime UI.
				</p>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-5"></div>
		</div>

		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-2"></div>
			<div class="col-md-5 exp-container-tighten">
				<div class="exp-date">Feb 2012 to Oct 2012</div>
				<div class="exp-comp">Priologic Software</div>
				<div class="exp-title">Software Engineer</div>

				<p>
					I worked with Cisco's Portlet Service Factory team to maintain and develop new portlets for Cisco’s WebEx Social (internal 
					employee collaboration portal). Assisted team by refactoring the frontend (HTML and JavaScript) and altering 
					the backend (Java and SQL) of multiple portlets as part of a major platform upgrade.
				</p>

			</div>
		</div>
		
		<div class="row">
			<div class="col-md-5 text-align-right exp-container-tighten">
				<div class="exp-date">Aug 2007 to Nov 2011</div>
				<div class="exp-comp">ETraffic Solutions</div>
				<div class="exp-title">Senior Programmer</div>

				<p>I was responsible for SP Snapshot, a data-driven student performance analysis tool (Florida, Michigan and New Jersey).
					My duties included database administration, performance monitoring, writing technical documentation and troubleshooting 
					data issues with team members. I developed a data import tool (Java) which saved work importing and met the needs of new markets.</p>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-5"></div>
		</div>

		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-2"></div>
			<div class="col-md-5">
				<div class="exp-date">Aug 2006 to 2007</div>
				<div class="exp-comp">CSI (OKI Software and OKI Access Technologies)</div>
				<div class="exp-title">Engineering Programmer</div>

				<p>
					Designed and developed prototypes using OKI Access Technologies’ Presence and PTT (Push to Talk) Library on Linux and 
					ALP (embedded linux from Access). I assisted with validation of the library’s behaviour against Softbank’s specifications 
					using simulation. I diagnosed test case failures and discussed with the engineer responsible for resolving the failure. 
					I assisted Samsung Engineers with integrating the library into their cellphones.
				</p>

			</div>
		</div>
		
	</div>
</div>
