@import '~@angular/material/theming';
@import '../shared/mixins';

:host {
  margin: 0 auto;
  display: block;
}

.contact-container {
  padding: 35px 80px 35px 35px;
	background-color: $block-background-color;
  max-width: 600px;
  min-height: 200px;

  background-image:url('../../assets/contact.png');
  background-position-x: 120%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 80px auto;
}

a {
  color: #000;
}

.social {
  margin-top: 50px;
}

.social a {
  margin-right: 10px;
}

.social a button .fab {
  font-size: 1.6em;
}

@include breakpoint() {
  .contact-container {
    padding: 75px 175px 75px 75px;
    background-size: auto;
  }
}
