// @import '~@angular/material/theming';
@use '../shared/mixins' as *;
@use '../shared/variables' as *;

.contact-container {
  padding: $margin-xlarge $margin-xxlarge $margin-xlarge $margin-xlarge;
	background-color: var(--mat-sys-primary-container);
  max-width: 600px;
  min-height: 200px;

  background-image:url('/assets/contact.png');
  background-position-x: 120%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 80px auto;
}

.social {
  margin-top: 50px;
}

.social a {
  margin-right: $margin-medium;
}

@include minBreakpoint() {
  .contact-container {
    padding: $margin-xxxlarge $margin-xxxlarge $margin-xxxlarge $margin-xxxlarge;
    background-size: auto;
  }
}
