<div class="mat-typography app-block-container">
  <div class="section-header">Contact</div>

  <div class="contact-container">

    <p>I have strong web development skills, an interest in visual presentation and the drive to find the best solution for the
      users of your software. If you have an oportunity that is a good fit, your interest is appreciated.</p>
    
    <p><a href="mailto:mbystedt@gmail.com">mbystedt@gmail.com</a></p>

    <div class="social">
      <a href="http://www.linkedin.com/in/matthew-bystedt">
        <button mat-fab color="primary"><span class="fab fa-linkedin-in"></span></button>
      </a>
      <a href="https://twitter.com/mbystedt">
        <button mat-fab color="primary"><span class="fab fa-twitter"></span></button>
      </a>
    </div>

  </div>
</div>
