<div class="mat-typography app-block-container">
  <div class="resume">
    <div class="headline">MB</div>

    <div class="text">
      <p>Over 10 years web development and 8 years developing business software. Driven, meticulous, innovative and 
        versatile software developer. I am strongly motivated to use communication to create robust applications on 
        cross-functional teams. I enjoy sharing knowledge and exceeding team goals. I speak fluent Japanese.</p>
      <p>Currently seeking full-time challenging work that enhance the local and global community.</p>
    </div>    
  </div>
</div>
