
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use "@angular/cdk/overlay-prebuilt.css" as *;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.section-header {
  text-align: center;
  font-size: 40px;
  line-height: 1em;
  margin: 0 0 40px;
  font-weight: 300;
}

router-outlet+* > * > .section-header {
  margin-top: 20px;
}

.app-block-container {
  margin-bottom: 50px;
}

@media only screen and (min-width: 62em) {
  .app-block-container {
    margin-bottom: 60px;
  }
}

.ks-modal-gallery-backdrop {
  background: #000 !important;
  opacity: 0.85 !important;
}
.ks-modal-gallery-panel {
  z-index: 90000 !important;
}

#carousel-container {
  .dots-container > .dot {
    border: 1px solid #000 !important;
  }

  .nav-left, .nav-right {
    background: rgba(0,0,0,.5);
    border-radius: 5px;
    padding: 5px;
  }
}