<div class="home-background"></div>
<div class="mat-typography">

  <div class="home-header">
    <div class="home-name">
      <div>Matthew</div>
      <div>Bystedt</div>
    </div>

    <div class="home-title">Software Engineer & Web Developer
    </div>
  </div>
  <app-resume></app-resume>

  <app-desktop-wrapper>
    <app-skills></app-skills>
    <app-project></app-project>
    <app-experience></app-experience>
    <app-contact></app-contact>
    <app-copyright></app-copyright>
  </app-desktop-wrapper>

</div>
